{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}

{% block content %}
  <div style="max-width: 800px; margin: 20px auto; padding: 20px; text-align: center; background-color: #007BFF; color: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #fff; font-family: 'Arial', sans-serif;">Members</h1>
    
    <ul style="list-style: none; padding: 0;">
      {% for x in mymembers %}
        <li style="margin: 10px 0; border: 1px solid #fff; padding: 10px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
          <a href="details/{{ x.id }}" style="color: #fff; text-decoration: none; font-family: 'Arial', sans-serif; font-weight: bold;">{{ x.firstname }} {{ x.lastname }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
