{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock %}

{% block content %}
  <div style="max-width: 800px; margin: 20px auto; padding: 20px; text-align: center; background-color: #007BFF; color: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #fff;">My Tennis Club</h1>
    <h3 style="color: #fff;">Members</h3>
    
    <p style="color: #ccc;">Check out all our <a href="members/" style="color: #fff; text-decoration: none;">members</a></p>
  </div>
{% endblock %}
